* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(22, 30, 35), rgb(28, 37, 43));
}

.main-content {
    display: flex;
    width: 90%;
    height: 90vh;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.left-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 28, 33);
}

.left-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 45, 52);;/* this */
    padding: 20px;
}

.content-wrapper {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

.container {
    background-color: rgb(35, 45, 52);
    padding: 40px;
    border-radius: 10px;
}

.choose-form h2 {
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.choose-form p {
    color: #b2b2b2;
    margin-bottom: 20px;
}

label {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    text-align: left;
}

.choose-form input[type="text"], .choose-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

/* Estilos específicos para o campo de nome de usuário */
.choose-form input[type="text"] {
    border-bottom: 2px solid #1e8449; /* borda verde */
    padding-left: 20px; /* adiciona um padding à esquerda para o ícone */
    background-image: url('./images/user-icon.png'); /* ícone de usuário */
    background-size: 15px 15px; /* tamanho do ícone */
    background-position: 10px 10px; /* posição do ícone */
    background-repeat: no-repeat; /* não repete o ícone */
}

/* Estilos específicos para o campo de senha */
.choose-form input[type="password"] {
    border-bottom: 2px solid #ff9900; /* borda laranja */
    padding-left: 20px; /* adiciona um padding à esquerda para o ícone */
    background-image: url('./images/lock-icon.png'); /* ícone de cadeado */
    background-size: 15px 15px; /* tamanho do ícone */
    background-position: 10px 10px; /* posição do ícone */
    background-repeat: no-repeat; /* não repete o ícone */
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.remember-me input {
    margin-right: 10px;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background: #1e8449;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background: #145a32;
}

footer {
    margin-top: 20px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .left-content, .right-content {
        flex: none;
        width: 100%;
    }

    .left-content img {
        height: 200px;
    }

    .content-wrapper {
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    header img {
        width: 120px;
    }

    footer img {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .submit {
        flex-direction: column;
    }

    .submit button {
        width: 100%;
        margin-bottom: 10px;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 13px;
    margin-right: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 0px;
    background-color: rgb(0, 247, 58);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(0, 168, 76);
}

input:checked + .slider:before {
    transform: translateX(14px);
}
